package modules

templ Footer(display bool) {
	if display {
		<footer>
			<p>&copy; 2024 Wangare Web Development. All rights reserved.</p>
			<nav>
				<ul>
					<li><a href="#">Terms of Service</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</nav>
		</footer>
	}
}
