@keyframes rise {
    50% {
        background-position: 50% 100%;
    }
}

@keyframes glitch {
    50% {
        transform: skew(90deg);
    }
}

@keyframes glitch-2 {
    50% {
        transform: skew(-90deg);
    }
}

@keyframes retract {
    50% {
        transform: scale(0.42);
    }
}

@keyframes pulse {
    50% {
        transform: scale(1.5);
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hover-wrapper {
    display: inline-block;
    padding: var(--s-8);
    margin-top: calc(var(--s-16) * -1);
    cursor: pointer;
}

.hi-mom {
    --init-delay: var(--t-8);
    --char-count: 5;

    position: relative;
    margin-top: calc(var(--s-16) * -1);
    font-size: var(--fs-16);
    font-weight: 700;
    width: fit-content;
    color: transparent;
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(180deg,
            var(--c-fg) 8%,
            var(--red-5) 16%,
            var(--red-3) 22%,
            var(--orn-2) 50%,
            var(--blu-1) 69%,
            var(--blu-6) 80%,
            var(--ind-6) 92%);
    background-size: 100% 1000%;
    animation:
        rise 20s var(--e-io) infinite,
        glitch var(--b-io) var(--t-2) var(--init-delay) 2 alternate,
        fade-in var(--b-i) calc(var(--init-delay) * 0.75),
        typing var(--t-4) steps(var(--char-count), end),
        pulse var(--b-io) var(--t-4) var(--init-delay) 2 alternate;
    background-clip: text;
    transition: font-size var(--t-5) var(--b-i);
}

.hover-wrapper:hover .hi-mom,
.hover-wrapper:focus-within .hi-mom {
    font-size: calc(var(--fs-16) * 2);
    animation:
        rise 20s var(--e-io) infinite,
        fade-in var(--b-i) calc(var(--init-delay) * 0.75),
        typing var(--t-4) steps(5, end),
        fade-in-left var(--b-i) var(--init-delay),
        glitch-2 var(--b-io) var(--t-2) var(--t-6) 3 alternate,
        retract var(--b-io) var(--t-4) var(--t-6) 3 alternate;
}
