package home

import "fmt"

type Content struct {
	HeroText        string
	Inputs, Outputs []Route
}

type Route struct {
	Title, Route, ImagePath string
}

templ Inputs(inputs []Route) {
	<div id="inputs-wrapper">
		for _, i := range inputs {
			<img class="image" src={ i.ImagePath }/>
		}
	</div>
}

templ HeroText(heading string) {
	<div id="hero-wrapper" tabindex="0">
		<div
			x-cloak
			class="hero-text"
			x-data={ fmt.Sprintf("{ charCount: %d }", len(heading)) }
			x-bind:style="{ '--char-count': charCount }"
		>
			{ heading }
		</div>
	</div>
}

templ Outputs(outputs []Route) {
	<div id="outputs-wrapper">
		for _, i := range outputs {
			<img class="image" src={ i.ImagePath }/>
		}
	</div>
}
