package home

import "fmt"

type HomeContent struct {
	HeroText string
	Inputs   []Input
	Outputs  []Output
}

templ HeroText(heading string) {
	<div class="centered">
		<div class="hover-wrapper" tabindex="0">
			<div
				x-cloak
				class="hi-mom"
				x-data={ fmt.Sprintf("{ charCount: %d }", len(heading)) }
				x-bind:style="{ '--char-count': charCount }"
			>
				{ heading }
			</div>
		</div>
	</div>
}
