package pages

templ Colors() {
	<div class="colors-test">
		<h1>colors test</h1>
		<div class="color-grid">
			<!-- core colors -->
			<div class="color-card" style="background-color: var(--c-bg-up);">bg-up</div>
			<div class="color-card" style="background-color: var(--c-bg);">bg</div>
			<div class="color-card" style="background-color: var(--c-bg-dn);">bg-dn</div>
			<div class="color-card" style="background-color: var(--c-fg-up); color: var(--c-bg);">fg-up</div>
			<div class="color-card" style="background-color: var(--c-fg); color: var(--c-bg);">fg</div>
			<div class="color-card" style="background-color: var(--c-fg-dn); color: var(--c-bg);">fg-dn</div>
			<div class="color-card" style="background-color: var(--c-blk-up);">blk-up</div>
			<div class="color-card" style="background-color: var(--c-blk);">blk</div>
			<div class="color-card" style="background-color: var(--c-blk-dn);">blk-dn</div>
			<div class="color-card" style="background-color: var(--c-wht-up); color: var(--c-blk);">wht-up</div>
			<div class="color-card" style="background-color: var(--c-wht); color: var(--c-blk);">wht</div>
			<div class="color-card" style="background-color: var(--c-wht-dn); color: var(--c-blk);">wht-dn</div>
			<!-- primary colors -->
			<div class="color-card" style="background-color: var(--c-1-up);">1-up</div>
			<div class="color-card" style="background-color: var(--c-1);">1</div>
			<div class="color-card" style="background-color: var(--c-1-dn);">1-dn</div>
			<!-- active colors -->
			<div class="color-card" style="background-color: var(--c-2-up);">2-up</div>
			<div class="color-card" style="background-color: var(--c-2);">2</div>
			<div class="color-card" style="background-color: var(--c-2-dn);">2-dn</div>
			<!-- control colors -->
			<div class="color-card" style="background-color: var(--c-3-up);">3-up</div>
			<div class="color-card" style="background-color: var(--c-3);">3</div>
			<div class="color-card" style="background-color: var(--c-3-dn);">3-dn</div>
			<!-- signaling colors -->
			<div class="color-card" style="background-color: var(--c-crt);">crt</div>
			<div class="color-card" style="background-color: var(--c-err);">err</div>
			<div class="color-card" style="background-color: var(--c-wrn);">wrn</div>
			<div class="color-card" style="background-color: var(--c-suc);">suc</div>
			<div class="color-card" style="background-color: var(--c-inf);">inf</div>
			<!-- semantic colors -->
			<div class="color-card" style="background-color: var(--c-link-i);">link-i</div>
			<div class="color-card" style="background-color: var(--c-link-o);">link-o</div>
		</div>
	</div>
}
