package pages

import "fmt"

templ Home(heading string) {
	<div class="centered">
		<div class="hover-wrapper" tabindex="0">
			<div class="hi-mom" data-char-count={ fmt.Sprint(len(heading)) }>{ heading }</div>
		</div>
	</div>
}
