@import "vars.css";
@import "colors/mappings.css";

body {
    isolation: isolate;
    height: 100vh;
    height: 100svh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: var(--c-fg);
    background-color: var(--c-bg);
    font-family: var(--ff-sans);
    font-size: var(--fs-6);
    line-height: var(--lh-5);
}

main {
    flex-grow: 1;
    z-index: 0;
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--ss-8);
    margin: var(--s-8) auto var(--s-12);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug {
    border: 1px solid red;
}

.full {
    height: 100%;
    width: 100%;
}
